body{
  background-color: black;
  margin: 0;
  padding: 0;
}

.stars{
  background: url('stars.jpg');
  background-size: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  -webkit-animation: starPulse 4s linear infinite alternate;
  animation: starPulse 4s linear infinite alternate;
}

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  z-index: 3;
}

.core {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orangered;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 51px 7px rgba(255,69,0,1);
-moz-box-shadow: 0px 0px 51px 7px rgba(255,69,0,1);
box-shadow: 0px 0px 51px 7px rgba(255,69,0,1);
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  /* border: 2px #4A437F solid; */
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite; 
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #9F98E6;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 225px;
  height: 225px;
  /* border: 2px #4A437F dashed; */
  border-radius: 100%;
  -webkit-animation: spin-right 15s linear infinite;
  animation: spin-right 15s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #4A437F;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 294px;
  /* border: 2px #4A437F dashed; */
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-cirlces {
  position: absolute;
  top: -17px;
  left: 125px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #00FFCA;
}

.outer-orbit-cirlces-moon-orbit{
  position: absolute;
  top: -15px;
  left: -15px;
  width: 60px;
  height: 60px;
  /* border: 2px #4A437F dashed; */
  border-radius: 100%;
  -webkit-animation: spin-right 4s linear infinite;
  animation: spin-right 5s linear infinite;
}
.outer-orbit-cirlces-moon{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: gray;
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes starPulse {
  0% {opacity: 1}
  100% {opacity: 0.2}
}